<!-- contenedor de main -->
<div class="row">

    <!-- contenedor side/profile picture -->
    <div class="col-md-3" style="padding-left: 0; padding-right: 0;">
        <div class="col-md-12">
            <div class="card card-outline-inverse">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Perfil</h4>
                </div>
                <div class="card-body">
                    <div class="container">
                        <img src="assets\images\gallery\profilePicture.jfif" class="img-fluid">
                        <hr>

                        <form class="form-material m-t-40">
                            <div class="form-group">

                                <input type="text" class="form-control form-control-line" placeholder="ID" readonly>

                                <input type="text" class="form-control form-control-line" placeholder="Nombre" readonly>

                                <input type="text" class="form-control form-control-line" placeholder="Fecha Ingreso" readonly>

                            </div>
                            <br><br><br><br><br><br><br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- contenedor article -->
    <div class="col-md-4" style="padding-left: 0; padding-right: 0;">

        <div class="col-md-12">
            <div class="card card-outline-inverse">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Status</h4>
                </div>
                <div class="card-body">
                    <img src="assets/images/gallery/VigenciaSi.png" class="img-fluid">
                    <form class="form-material m-t-40">
                        <div class="form-group">
                            <hr>
                            <label> Vigencia: </label>
                            <input type="text" class="form-control form-control-line" placeholder="22-04-20" readonly>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- contenedor aside -->
    <div class="col-md-5" style="padding-left: 0; padding-right: 0;">

        <div class="col-md-12">
            <div class="card card-outline-inverse">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Rutina Diaria</h4>
                </div>
                <div class="card-body">
                    <!-- tabla rutinas -->
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table color-table inverse-table">
                                        <thead>
                                            <tr>
                                                <th>Ejercicio</th>
                                                <th>Repeticiones</th>
                                                <th>Series</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Press</td>
                                                <td>10</td>
                                                <td>3</td>
                                            </tr>
                                            <tr>
                                                <td>Press Inclinado</td>
                                                <td>10</td>
                                                <td>3</td>
                                            </tr>
                                            <tr>
                                                <td>Sentadilla Asistida</td>
                                                <td>10</td>
                                                <td>3</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p></p>
                                <br><br><br><br><br>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- contenedor footer -->
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="card card-outline-inverse">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Card Title</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Special title treatment</h3>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                </div>
            </div>
        </div>

    </div>