<div class="row">
    <div class="col-lg-9 col-xlg-10 col-md-8">
        <div class="card">
            <h2>Rutinas</h2>
            <div class="card-body">
                <h4 class="card-title" id="1">Lunes</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nesciunt error commodi hic, nulla at tempora? Repellat, provident aut! Architecto odit consequuntur quidem assumenda iste, eaque harum eius neque qui?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nesciunt error commodi hic, nulla at tempora? Repellat, provident aut! Architecto odit consequuntur quidem assumenda iste, eaque harum eius neque qui?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nesciunt error commodi hic, nulla at tempora? Repellat, provident aut! Architecto odit consequuntur quidem assumenda iste, eaque harum eius neque qui?
                </p>
                <h4 class="card-title m-t-40" id="2">Martes</h4>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus modi quos sapiente iste consequatur, libero eligendi fugit eos, esse deserunt ipsum quasi aut earum accusantium? Suscipit accusantium placeat ipsa nostrum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nesciunt error commodi hic, nulla at tempora? Repellat, provident aut! Architecto odit consequuntur quidem assumenda iste, eaque harum eius neque qui?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nesciunt error commodi hic, nulla at tempora? Repellat, provident aut! Architecto odit consequuntur quidem assumenda iste, eaque harum eius neque qui?
                </p>
                <h4 class="card-title m-t-40" id="3">Miercoles</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi itaque ratione dicta earum enim rem, vero aliquam magnam placeat explicabo, numquam vel doloremque ullam sapiente rerum. Tempore esse numquam atque.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nesciunt error commodi hic, nulla at tempora? Repellat, provident aut! Architecto odit consequuntur quidem assumenda iste, eaque harum eius neque qui?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nesciunt error commodi hic, nulla at tempora? Repellat, provident aut! Architecto odit consequuntur quidem assumenda iste, eaque harum eius neque qui?
                </p>
                <h4 class="card-title m-t-40" id="4">Jueves</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fugit aut animi tenetur hic, magnam ea, officiis neque temporibus, expedita numquam modi in quo quaerat ipsa reprehenderit. Nam, repellendus itaque?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nesciunt error commodi hic, nulla at tempora? Repellat, provident aut! Architecto odit consequuntur quidem assumenda iste, eaque harum eius neque qui?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nesciunt error commodi hic, nulla at tempora? Repellat, provident aut! Architecto odit consequuntur quidem assumenda iste, eaque harum eius neque qui?
                </p>
                <h4 class="card-title m-t-40" id="5">Viernes</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ea, sunt nesciunt tempore aliquam neque! Minus consequuntur doloribus fugiat sed et ipsa fugit quibusdam! At saepe aut nihil quis ipsa?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nesciunt error commodi hic, nulla at tempora? Repellat, provident aut! Architecto odit consequuntur quidem assumenda iste, eaque harum eius neque qui?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nesciunt error commodi hic, nulla at tempora? Repellat, provident aut! Architecto odit consequuntur quidem assumenda iste, eaque harum eius neque qui?
                </p>
                <h4 class="card-title m-t-40" id="6">Sabado</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae quis veniam necessitatibus distinctio illo, minima praesentium in nemo nostrum, expedita dolores tenetur consectetur. Ut possimus accusamus praesentium ducimus nulla iste?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nesciunt error commodi hic, nulla at tempora? Repellat, provident aut! Architecto odit consequuntur quidem assumenda iste, eaque harum eius neque qui?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nesciunt error commodi hic, nulla at tempora? Repellat, provident aut! Architecto odit consequuntur quidem assumenda iste, eaque harum eius neque qui?
                </p>
                <h4 class="card-title m-t-40" id="7">Domingo</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, dolorem. Reprehenderit id porro amet voluptas aperiam debitis, suscipit dolor? Debitis ex deleniti quaerat fugit cupiditate similique ea earum dolorem repellat!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nesciunt error commodi hic, nulla at tempora? Repellat, provident aut! Architecto odit consequuntur quidem assumenda iste, eaque harum eius neque qui?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nesciunt error commodi hic, nulla at tempora? Repellat, provident aut! Architecto odit consequuntur quidem assumenda iste, eaque harum eius neque qui?
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-2 col-md-4">
        <div class="stickyside">
            <div class="list-group" id="top-menu">
                <a href="#1" class="list-group-item active">Lunes</a>
                <a href="#2" class="list-group-item">Martes</a>
                <a href="#3" class="list-group-item">Miercoles</a>
                <a href="#4" class="list-group-item">Jueves</a>
                <a href="#5" class="list-group-item">Viernes</a>
                <a href="#6" class="list-group-item">Sabado</a>
                <a href="#7" class="list-group-item">Domingo</a>
            </div>
        </div>
    </div>
</div>